 <h1>New Topic</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for topics:</p>
     <ul>
       <li>Make sure the topic is appropriate.</li>
       <li>Never insult dogs.</li>
       <li>Smile when you type.</li>
     </ul>
   </div>
   <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic} %>
   </div>
 </div>
<script type="text/javascript">
  var blocmetrics = {
    report: function(attr){
      var event = {
        job: {
          name: attr
      }
    }

    var request = new XMLHttpRequest();
    request.open("POST", "http://localhost:3000/api/jobs", true);
    request.setRequestHeader('Content-Type', 'application/json');

    request.onreadystatechange = function() {
      // #2
    };

    request.send(JSON.stringify(event));
  }
}
  $(document).ready(function(){
    $('#commit-and-send').click(function(){
      blocmetrics.report($('#attr-to-send').val());
    })
  })
</script>